<div class="lv-item media">
    <div class="checkbox pull-left">
        <label>
            <input type="checkbox" value="">
            <i class="input-helper"></i>
        </label>
    </div>
    <div class="pull-left">
        <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
    </div>
    <div class="media-body">
        <div class="lv-title">Wel ea elit iuvaret. Mea labitur definitiones ex, id atqui accusata vix, vim nibh mandamus
            ad
        </div>
        <small class="lv-small">Wendy create ipsum dolor sit amet, per cu solet docendi ntoenstion</small>

        <ul class="lv-attrs">
            <li>Date Created: 09/06/1988</li>
            <li>Members: 78954</li>
            <li>Published: No</li>
        </ul>

        <div class="lv-actions actions dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="true">
                <i class="md md-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="">Edit</a>
                </li>
                <li>
                    <a href="">Delete</a>
                </li>
            </ul>
        </div>
    </div>
</div>