<div class="card">
    <div class="card-header bgm-bluegray m-b-20">
        <h2>Some Title
            <small>Phasellus condimentum ipsum id auctor</small>
        </h2>
        <ul class="actions actions-alt">
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

        <button class="btn bgm-blue btn-float waves-effect waves-effect waves-button waves-float"><i
                class="md md-send"></i></button>
    </div>

    <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan
        dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
    </div>
</div>