<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 9 ]>
<html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aetos Kodika</title>

    <!-- Vendor CSS -->
    <link href="{% static 'vendors/fullcalendar/fullcalendar.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/animate-css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/sweet-alert/sweet-alert.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/material-icons/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/socicon/socicon.min.css' %}" rel="stylesheet">

    <!-- CSS -->
    <link href="{% static 'css/app.min.1.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.min.2.css' %}" rel="stylesheet">

</head>
<body>
<header id="header">
    <ul class="header-inner">
        <li id="menu-trigger" data-trigger="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="logo hidden-xs">
            <a href="{% url 'core_home' %}">Aetos Kodika</a>
        </li>

        <li class="pull-right">
            <ul class="top-menu">
                <li id="toggle-width">
                    <div class="toggle-switch">
                        <input id="tw-switch" type="checkbox" hidden="hidden">
                        <label for="tw-switch" class="ts-helper"></label>
                    </div>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="tm-settings" href=""></a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li>
                            <a data-action="fullscreen" href=""><i class="md md-fullscreen"></i> Toggle Fullscreen</a>
                        </li>
                        <li>
                            <a data-action="clear-localstorage" href=""><i class="md md-delete"></i> Clear Local Storage</a>
                        </li>
                        <li>
                            <a href=""><i class="md md-person"></i> Privacy Settings</a>
                        </li>
                        <li>
                            <a href=""><i class="md md-settings"></i> Other Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</header>

<section id="main">
    <aside id="sidebar">
        <div class="sidebar-inner">
            <div class="si-inner">
                <div class="profile-menu">
                    <a href="">
                        <div class="profile-pic">
                            <img src="{% static 'img/profile-pics/main-dp.jpg' %}" alt="">
                        </div>

                        <div class="profile-info">
                            Vishesh Bangotra

                            <i class="md md-arrow-drop-down"></i>
                        </div>
                    </a>

                    <ul class="main-menu">
                        <li>
                            <a href="{% url 'core_profile' %}"><i class="md md-person"></i> View Profile</a>
                        </li>
                    </ul>
                </div>

                <ul class="main-menu">
                    <li class="sub-menu">
                        <a href=""><i class="md md-my-library-books"></i> Projects</a>

                        <ul>
                            <li><a href="{% url 'pt_home' %}">Post It!</a></li>
                            <li><a href="{% url 'sm_home' %}">Signature Maker</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <section id="content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>

</section>

<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1 class="c-white">IE SUCKS!</h1>

    <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser <br/>in order
        to access the maximum functionality of this website. </p>
    <ul class="iew-download">
        <li>
            <a href="http://www.google.com/chrome/">
                <img src="{% static 'img/browsers/chrome.png" alt="">

                <div>Chrome</div>
            </a>
        </li>
        <li>
            <a href="https://www.mozilla.org/en-US/firefox/new/">
                <img src="{% static 'img/browsers/firefox.png" alt="">

                <div>Firefox</div>
            </a>
        </li>
        <li>
            <a href="http://www.opera.com">
                <img src="{% static 'img/browsers/opera.png" alt="">

                <div>Opera</div>
            </a>
        </li>
        <li>
            <a href="https://www.apple.com/safari/">
                <img src="{% static 'img/browsers/safari.png" alt="">

                <div>Safari</div>
            </a>
        </li>
        <li>
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                <img src="{% static 'img/browsers/ie.png" alt="">

                <div>IE (New)</div>
            </a>
        </li>
    </ul>
    <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
</div>
<![endif]-->

<!-- Javascript Libraries -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'knockout-3.3.0.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'vendors/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'vendors/flot/jquery.flot.resize.min.js' %}"></script>
<script src="{% static 'vendors/flot/plugins/curvedLines.js' %}"></script>
<script src="{% static 'vendors/sparklines/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'vendors/easypiechart/jquery.easypiechart.min.js' %}"></script>

<script src="{% static 'vendors/fullcalendar/lib/moment.min.js' %}"></script>
<script src="{% static 'vendors/fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendors/simpleWeather/jquery.simpleWeather.min.js' %}"></script>
<script src="{% static 'vendors/auto-size/jquery.autosize.min.js' %}"></script>
<script src="{% static 'vendors/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'vendors/waves/waves.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-growl/bootstrap-growl.min.js' %}"></script>
<script src="{% static 'vendors/sweet-alert/sweet-alert.min.js' %}"></script>

<script src="{% static 'js/flot-charts/curved-line-chart.js' %}"></script>
<script src="{% static 'js/flot-charts/line-chart.js' %}"></script>
<script src="{% static 'js/charts.js' %}"></script>

<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>

{% block footer %}
{% endblock %}

</body>
</html>