{% extends "core/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="block-header">
    <h2>Vishesh Bangotra
        <small>Python Developer, CoverFox</small>
    </h2>
</div>

<div class="card" id="profile-main">
    <div class="pm-overview c-overflow" tabindex="4" style="overflow: hidden; outline: none;">
        <div class="pmo-pic">
            <div class="p-relative">
                <a href="https://in.linkedin.com/in/visheshbangotra" target="_blank">
                    <img class="img-responsive" src="{% static 'img/profile-pics/main-dp.jpg' %}" alt="">
                </a>

                <div class="dropdown pmop-message">
                    <a data-toggle="dropdown" href=""
                       class="btn bgm-white btn-float z-depth-1 waves-effect waves-button waves-float">
                        <i class="md md-message"></i>
                    </a>

                    <div class="dropdown-menu">
                        <textarea placeholder="Send me a message...?"></textarea>

                        <button class="btn bgm-green btn-icon waves-effect waves-button waves-float"><i
                                class="md md-send"></i></button>
                    </div>
                </div>
            </div>


            <div class="pmo-stat">
                <h2 class="m-0 c-white">475</h2>
                Total Connections
            </div>
        </div>

        <div class="pmo-block pmo-contact hidden-xs">
            <h2>Contact</h2>

            <ul>
                <li><i class="md md-phone"></i> +91-9819373623</li>
                <li><i class="md md-email"></i> visheshbangotra@gmail.com</li>
                <li><a href="https://www.facebook.com/ferrumaquila" target="_blank"><i
                        class="socicon socicon-facebook"></i>ferrumaquila</a>
                </li>
                <li>
                    <i class="md md-location-on"></i>
                    <address class="m-b-0">
                        C Wing 502, Lake Bloom Society, <br>
                        Oppo L&T Gate No 6, Powai, <br>
                        Mumbai, Maharashtra, India
                    </address>
                </li>
            </ul>
        </div>
    </div>

    <div class="pm-body clearfix">

        <ul class="tab-nav tn-justified" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
            <li class="active waves-effect"><a href="#aboutPaneCard" aria-controls="aboutTopBtn" role="tab"
                                               data-toggle="tab"
                                               aria-expanded="true">About</a>
            </li>
            <li class=""><a href="#timelinePaneCard" aria-controls="timelineTopBtn" role="tab" data-toggle="tab"
                            aria-expanded="false">Timeline</a>
            </li>
        </ul>

        <div class="tab-content p-t-0">
            <div role="tabpanel" class="tab-pane active" id="aboutPaneCard">
                <div class="card">
                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="md md-equalizer m-r-5"></i> Summary</h2>
                        </div>
                        <div class="pmbb-body p-l-30">
                            <div class="pmbb-view">
                                I'm Vishesh Bangotra, B. Tech from IIT Roorkee, working as Developer at CoverFox<br>
                                I write code for Lead Management System for callers and currently involved in Ticket
                                Management
                                System<br>
                                My expertise is backend (django, postgres, mysql) and currently learning KO, Bootstrap,
                                jQuery<br>
                                In my free time I ride bikes (long drives), play games (fps, flight sims, strategy),
                                lose cash in
                                poker<br>
                            </div>
                        </div>
                    </div>

                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="md md-person m-r-5"></i> Basic Information</h2>
                        </div>
                        <div class="pmbb-body p-l-30">
                            <div class="pmbb-view">
                                <dl class="dl-horizontal">
                                    <dt>Full Name</dt>
                                    <dd>Vishesh Bangotra</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Gender</dt>
                                    <dd>Male</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Birthday</dt>
                                    <dd>June 23, 1991</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Martial Status</dt>
                                    <dd>Single</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="md md-phone m-r-5"></i> Contact Information</h2>
                        </div>
                        <div class="pmbb-body p-l-30">
                            <div class="pmbb-view">
                                <dl class="dl-horizontal">
                                    <dt>Mobile Phone</dt>
                                    <dd>+91-9819373623</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Email Address</dt>
                                    <dd>visheshbangotra@gmail.com</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Facebook</dt>
                                    <dd><a href="https://www.facebook.com/ferrumaquila/"
                                           target="_blank">ferrumaquila</a></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>LinkedIn</dt>
                                    <dd><a href="https://in.linkedin.com/in/visheshbangotra" target="_blank">visheshbangotra</a>
                                    </dd>
                                </dl>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="timelinePaneCard">
                <div class="card">

                    <div class="timeline">
                        <div class="t-view" data-tv-type="text">
                            <div class="tv-header media">
                                <a href="" class="tvh-user pull-left">
                                    <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
                                </a>

                                <div class="media-body p-t-5">
                                    <strong class="d-block">Malinda Hollaway</strong>
                                    <small class="c-gray">April 23, 2014 at 05:00</small>
                                </div>

                                <ul class="actions m-t-20 hidden-xs">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="md md-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Edit</a>
                                            </li>
                                            <li>
                                                <a href="">Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tv-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem dolor, posuere
                                    convallis blandit sit
                                    amet, aliquet in est. Ut condimentum magna enim, non venenatis elit interdum
                                    accumsan. In hac habitasse
                                    platea dictumst. Etiam molestie felis non mollis viverra. In ipsum lorem, fermentum
                                    vitae lectus in,
                                    accumsan malesuada neque.</p>

                                <p>Suspendisse vehicula urna nisi, in luctus lacus consequat at. Nam purus dolor,
                                    tristique id lacinia sed,
                                    tincidunt congue metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Vivamus nec gravida
                                    leo. Sed nec ligula porta, dignissim elit molestie, finibus ligula. Nunc venenatis
                                    malesuada est ac
                                    molestie. Phasellus ornare nibh eu nisl rhoncus, vitae porttitor ante feugiat. Nulla
                                    vehicula erat nec
                                    odio dignissim, sit amet porttitor lorem auctor. Maecenas fermentum tellus ex, ac
                                    aliquet nisl malesuada
                                    id.</p>

                                <div class="clearfix"></div>

                                <ul class="tvb-stats">
                                    <li class="tvbs-comments">54 Comments</li>
                                    <li class="tvbs-likes">254 Likes</li>
                                    <li class="tvbs-views">23K Views</li>
                                </ul>

                                <a class="tvc-more" href=""><i class="md md-mode-comment"></i> View all 54 Comments</a>
                            </div>

                            <div class="tv-comments">
                                <ul class="tvc-lists">
                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/1.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">David Peiterson</strong>
                                            <small class="c-gray">April 23, 2014 at 05:10</small>

                                            <div class="m-t-10">Maecenas fermentum tellus ex, ac aliquet nisl malesuada
                                                id.
                                            </div>

                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/2.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">Wernall Parnell</strong>
                                            <small class="c-gray">April 22, 2014 at 13:00</small>

                                            <div class="m-t-10">Nulla vehicula erat nec odio dignissim, sit amet
                                                porttitor lorem auctor.
                                                Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.
                                            </div>

                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/3.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">Shane Lee Yong</strong>
                                            <small class="c-gray">April 19, 2014 at 10:10</small>

                                            <div class="m-t-10">Sit amet porttitor lorem auctor. Maecenas fermentum
                                                tellus ex, ac aliquet
                                                nisl malesuada idwoon lorem ipsum.
                                            </div>
                                        </div>
                                    </li>

                                    <li class="p-20">
                                        <div class="fg-line">
                        <textarea class="form-control auto-size" placeholder="Write a comment..."
                                  style="overflow: hidden; word-wrap: break-word; height: 32px;"></textarea>
                                        </div>

                                        <button class="m-t-15 btn btn-primary btn-sm waves-effect waves-button waves-float">
                                            Post
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="t-view" data-tv-type="image">
                            <div class="tv-header media">
                                <a href="" class="tvh-user pull-left">
                                    <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
                                </a>

                                <div class="media-body p-t-5">
                                    <strong class="d-block">Malinda Hollaway</strong>
                                    <small class="c-gray">April 05, 2014 at 11:00</small>
                                </div>

                                <ul class="actions m-t-20 hidden-xs">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="md md-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Edit</a>
                                            </li>
                                            <li>
                                                <a href="">Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tv-body">

                                <div class="lightbox m-b-20">
                                    <div data-src="img/headers/sm/4.png">
                                        <div class="lightbox-item pull-left">
                                            <img src="img/headers/sm/4.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem dolor, posuere
                                    convallis blandit sit
                                    amet, aliquet in est. Ut condimentum magna enim, non venenatis elit interdum
                                    accumsan. In hac habitasse
                                    platea dictumst. Etiam molestie felis non mollis viverra. In ipsum lorem, fermentum
                                    vitae lectus in,
                                    accumsan malesuada neque.</p>

                                <div class="clearfix"></div>

                                <ul class="tvb-stats">
                                    <li class="tvbs-comments"><i class="md md-comment"></i> 120 <span class="hidden-xs">Comments</span>
                                    </li>
                                    <li class="tvbs-likes"><i class="md md-thumb-up"></i> 34K <span class="hidden-xs">Likes</span>
                                    </li>
                                    <li class="tvbs-views"><i class="md md-remove-red-eye"></i> 105K <span
                                            class="hidden-xs">Views</span>
                                    </li>
                                </ul>

                                <a class="tvc-more" href=""><i class="md md-mode-comment"></i> View all 290 Comments</a>
                            </div>

                            <div class="tv-comments">
                                <ul class="tvc-lists">
                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/1.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">Jolla Hatkin</strong>
                                            <small class="c-gray">April 23, 2014 at 05.00</small>

                                            <div class="m-t-10">Donec vel metus nisl. Nam euismod neque et finibus
                                                vulputate. Integer in
                                                vestibulum orci. Phasellus ut iaculis arcu, vitae commodo justo. Ut eu
                                                feugiat lorem, quis
                                                ornare risus
                                            </div>

                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/2.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">David Simpson</strong>
                                            <small class="c-gray">April 23, 2014 at 05.00</small>

                                            <div class="m-t-10">Nulla vehicula erat nec odio dignissim, sit amet
                                                porttitor lorem auctor.
                                                Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.
                                            </div>

                                        </div>
                                    </li>
                                    <li class="p-20">
                                        <div class="fg-line">
                        <textarea class="form-control auto-size" placeholder="Write a comment..."
                                  style="overflow: hidden; word-wrap: break-word; height: 32px;"></textarea>
                                        </div>

                                        <button class="m-t-15 btn btn-primary btn-sm waves-effect waves-button waves-float">
                                            Post
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="t-view" data-tv-type="video">
                            <div class="tv-header media">
                                <a href="" class="tvh-user pull-left">
                                    <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
                                </a>

                                <div class="media-body p-t-5">
                                    <strong class="d-block">Malinda Hollaway</strong>
                                    <small class="c-gray">April 01, 2014 at 15:00</small>
                                </div>

                                <ul class="actions m-t-20 hidden-xs">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="md md-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Edit</a>
                                            </li>
                                            <li>
                                                <a href="">Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tv-body">

                                <div class="embed-responsive embed-responsive-16by9 m-b-20">
                                    <iframe class="embed-responsive-item"
                                            src="http://www.youtube.com/embed/aaZXDm3RXuo"></iframe>
                                </div>

                                <p>Duis sem dolor, posuere convallis blandit sit amet, aliquet in est. Ut condimentum
                                    magna enim, non
                                    venenatis elit interdum accumsan. In hac habitasse platea dictumst. Etiam molestie
                                    felis non mollis
                                    viverra. In ipsum lorem, fermentum vitae lectus in, accumsan malesuada neque.</p>

                                <div class="clearfix"></div>

                                <ul class="tvb-stats">
                                    <li class="tvbs-comments">21 Comments</li>
                                    <li class="tvbs-likes">156 Likes</li>
                                    <li class="tvbs-views">2365 Views</li>
                                </ul>

                                <a class="tvc-more" href=""><i class="md md-mode-comment"></i> View all 14 Comments</a>
                            </div>

                            <div class="tv-comments">
                                <ul class="tvc-lists">
                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/6.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">Jolla Hatkin</strong>
                                            <small class="c-gray">April 23, 2014 at 05.00</small>

                                            <div class="m-t-10">Donec vel metus nisl. Nam euismod neque et finibus
                                                vulputate. Integer in
                                                vestibulum orci. Phasellus ut iaculis arcu, vitae commodo justo. Ut eu
                                                feugiat lorem, quis
                                                ornare risus
                                            </div>

                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/5.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">Sean Paul Jr.</strong>
                                            <small class="c-gray">April 23, 2014 at 05.00</small>

                                            <div class="m-t-10">Nulla vehicula erat nec odio dignissim, sit amet
                                                porttitor lorem auctor.
                                                Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.
                                            </div>

                                        </div>
                                    </li>
                                    <li class="p-20">
                                        <div class="fg-line">
                        <textarea class="form-control auto-size" placeholder="Write a comment..."
                                  style="overflow: hidden; word-wrap: break-word; height: 32px;"></textarea>
                                        </div>

                                        <button class="m-t-15 btn btn-primary btn-sm waves-effect waves-button waves-float">
                                            Post
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="t-view" data-tv-type="image">
                            <div class="tv-header media">
                                <a href="" class="tvh-user pull-left">
                                    <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
                                </a>

                                <div class="media-body p-t-5">
                                    <strong class="d-block">Malinda Hollaway</strong>
                                    <small class="c-gray">March 11, 2014 at 09:00</small>
                                </div>

                                <ul class="actions m-t-20 hidden-xs">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="md md-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Edit</a>
                                            </li>
                                            <li>
                                                <a href="">Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tv-body">

                                <div class="lightbox tvb-lightbox clearfix">
                                    <div data-src="media/gallery/1.jpg" class="col-sm-2 col-xs-3">
                                        <div class="lightbox-item">
                                            <img src="media/gallery/thumbs/1.jpg" alt="">
                                        </div>
                                    </div>

                                    <div data-src="media/gallery/2.jpg" class="col-sm-2 col-xs-3">
                                        <div class="lightbox-item">
                                            <img src="media/gallery/thumbs/2.jpg" alt="">
                                        </div>
                                    </div>

                                    <div data-src="media/gallery/3.jpg" class="col-sm-2 col-xs-3">
                                        <div class="lightbox-item">
                                            <img src="media/gallery/thumbs/3.jpg" alt="">
                                        </div>
                                    </div>

                                    <div data-src="media/gallery/4.jpg" class="col-sm-2 col-xs-3">
                                        <div class="lightbox-item">
                                            <img src="media/gallery/thumbs/4.jpg" alt="">
                                        </div>
                                    </div>
                                </div>

                                <p>Ut condimentum magna enim, non venenatis elit interdum accumsan. In hac habitasse
                                    platea dictumst. Etiam
                                    molestie felis non mollis viverra. In ipsum lorem, fermentum vitae lectus in,
                                    accumsan malesuada
                                    neque.</p>

                                <div class="clearfix"></div>

                                <ul class="tvb-stats">
                                    <li class="tvbs-comments">33 Comments</li>
                                    <li class="tvbs-likes">983 Likes</li>
                                    <li class="tvbs-views">19889 Views</li>
                                </ul>

                                <a class="tvc-more" href=""><i class="md md-mode-comment"></i> View all 89 Comments</a>
                            </div>

                            <div class="tv-comments">
                                <ul class="tvc-lists">
                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/6.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">Jolla Hatkin</strong>
                                            <small class="c-gray">March 30, 2014 at 05.00</small>

                                            <div class="m-t-10">Donec vel metus nisl. Nam euismod neque et finibus
                                                vulputate. Integer in
                                                vestibulum orci. Phasellus ut iaculis arcu, vitae commodo justo. Ut eu
                                                feugiat lorem, quis
                                                ornare risus
                                            </div>

                                        </div>
                                    </li>

                                    <li class="media">
                                        <a href="" class="tvh-user pull-left">
                                            <img class="img-responsive" src="img/profile-pics/5.jpg" alt="">
                                        </a>

                                        <div class="media-body">
                                            <strong class="d-block">Marwell Wecker</strong>
                                            <small class="c-gray">March 31, 2014 at 05.00</small>

                                            <div class="m-t-10">Nulla vehicula erat nec odio dignissim, sit amet
                                                porttitor lorem auctor.
                                                Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.
                                            </div>

                                        </div>
                                    </li>
                                    <li class="p-20">
                                        <div class="fg-line">
                        <textarea class="form-control auto-size" placeholder="Write a comment..."
                                  style="overflow: hidden; word-wrap: break-word; height: 32px;"></textarea>
                                        </div>

                                        <button class="m-t-15 btn btn-primary btn-sm waves-effect waves-button waves-float">
                                            Post
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="load-more">
                            <a href=""><i class="md md-refresh"></i> Load More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}