{% extends "core/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="card">
    <div role="tabpanel">
        <ul class="tab-nav tn-justified" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
            <li class="active"><a href="#homePaneCard" aria-controls="homeTopBtn" role="tab" data-toggle="tab"
                                  aria-expanded="true">Home</a>
            </li>
            <li class=""><a href="#warRoomPaneCard" aria-controls="warRoomTopBtn" role="tab" data-toggle="tab"
                            aria-expanded="false">War Room</a>
            </li>
        </ul>
        <div class="tab-content p-t-0">
            <div role="tabpanel" class="tab-pane active" id="homePaneCard">
                <div class="card">
                    <h2>Home</h2>
                    {% include "ass_brea_snip/components/challenge_list.html" %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="warRoomPaneCard">
                <div class="card">
                    <h2>War Room</h2>
                    {% include "ass_brea_snip/components/grid.html" %}
                    <select id="blackBriarSelector">
                        {% for profile in gamer_profiles %}
                        <option value="{{profile.gamer_tag}}">
                            {{profile.gamer_tag}}
                        </option>
                        {% endfor %}
                    </select>
                    <button id="makeWarAndLoveBtn" class="btn btn-primary waves-effect waves-button waves-float">
                        <i class="md-map"></i><span>Make War and Love</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    var id_icon_map = JSON.parse("{{id_icon_map|safe|escapejs}}");
    var HITMEN_GAMER_TAG = "{{hitmen_profile.gamer_tag}}"
    var CHALLENGE_PLAYER_URL = "{% url 'abs_challenge_player' 'gamer_tag' %}"
    getChallengePlayerURL = (function(gamerTag){
        return CHALLENGE_PLAYER_URL.replace('gamer_tag', gamerTag)
    });
</script>
<script src="{% static 'js/game.js' %}"></script>
{% endblock %}

