{% extends "core/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="card">
    <div role="tabpanel">
        <div class="tab-content p-t-0">
            <div role="tabpanel" class="tab-pane active" id="">
                <div class="card">
                    <pre>
                        I thank the lord
                        For the day I saw you in coaching
                        Dumbstruck and awed
                        You were different for me from the beginning
                    </pre>
                    <pre>
                        I tried to talk
                        I tried to impress you
                        But me being me
                        I made a mess like everything I do
                    </pre>
                    <pre>
                        Started to fall for you
                        Never expected that to happen
                        You lighted up my spirits
                        As and when they dampened
                    </pre>
                    <pre>
                        I said I love you
                        You said you weren't impressed
                        I was adamant and didn't back away
                        And you finally said "Yes!!!"
                    </pre>
                    <pre>
                        We had good days
                        We loved each other truly
                        You were the one who used to make my day
                        For me you were the one and only
                    </pre>
                    <pre>
                        Then things went awry
                        And I pushed you away
                        Used to unnecessarily worry
                        Something I regret to this day
                    </pre>
                    <pre>
                        So we parted ways
                        And I wish that can be changed
                        I wish in some parallel universe
                        I was a knight, and you a dame
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}