<div class="table-responsive" tabindex="2" style="overflow: hidden; outline: none;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Challenge ID
                </th>
                <th>
                    Challenger
                </th>
                <th>
                    State
                </th>
                <th>
                    Fight!
                </th>
            </tr>
        </thead>
        <tbody>
            {% for challenge in challenges %}
            <tr>
                <td>
                    {{challenge.id}}
                </td>
                <td>
                    {{challenge.hitmen}}
                </td>
                <td>
                    {{challenge.state}}
                </td>
                <td>
                    <button class="btn btn-primary waves-effect waves-button waves-float makeStrategyBtn">
                        <i class="md-map"></i><span>WAR!!!!!</span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>