<div id="gridTable" class="table-responsive" tabindex="2" style="overflow: hidden; outline: none;">
    <table class="table table-bordered">
        <tbody>
            {% for x in '123' %}
            <tr>
                {% for y in '123' %}
                <td class="gridTabBtn" id="{{ x }}__{{ y }}">
                    <button class="btn btn-danger waves-effect waves-button waves-float">
                        <i id="gridIcon{{ x }}__{{ y }}" class=""></i><span id="gridLoadout{{ x }}__{{ y }}"></span>
                    </button>
                    <input name="gridInput{{ x }}__{{ y }}" id="gridInput{{ x }}__{{ y }}" value="0" type="hidden">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="makeWarAndLoveBtn" class="btn btn-primary waves-effect waves-button waves-float">
        <i class="md-map"></i><span>Make War and Love</span>
    </button>
</div>